{% extends "base.html" %}

{% block content %}
<div style="width: 400px" class="mx-auto">
    <form method="post">
        <div class="form-outline mb-4">
            <input type="text" id="form4Example1" name="categoryName" class="form-control" />
            <label class="form-label" for="form4Example1">Название категории</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Отправить</button>
    </form>
    <p>
        <a href="/list_categories/">К списку категорий</a>
    </p>
</div>
{% endblock %}