{% extends "base.html" %}

{% block content %}
<table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
        <tr>
            <td>
                Название
            </td>
            <td>
                Описание
            </td>
            <td>
                Срок обучения
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Убер курс
            </td>
            <td>
                Курс который учит всему
            </td>
            <td>
                100500 минут
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}